<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ImagEasy</title>
</head>

<body>
    <form id="index_form" action="/" method="POST" enctype="multipart/form-data">
        <div>
            <label style="color: white; font-weight: bold;" for="model_name">Modelo:</label>&nbsp;&nbsp;
            <select name="model_name">
                <option value="gemini-1.5-flash-002">Gemini-1.5-flash-002</option>
                <option value="gemini-1.5-pro-002">Gemini-1.5-pro-002</option>
                <option value="medlm-large-1.5">MedLM-Large-1.5</option>
            </select>
            <input type="hidden" id="choosen_model_name" name="choosen_model_name" value="{{ choosen_model_name }}">
            <b style="float: right; text-align: right;">{{ user_version_info }}</b>
        </div>
        <br>
        <input type="hidden" id="activeTab" name="activeTab" value="{{ activeTab }}">
        <input type="hidden" id="clicked_button" name="clicked_button" value="">
        <input type="hidden" id="dest_bucket" name="dest_bucket" value="{{ dest_bucket }}">
        <input type="hidden" id="dest_folder" name="dest_folder" value="{{ dest_folder }}">
        <div class="tabs">
            <div class="tab" id="tabExamReqLoader" data-tab="divExamReqLoader">Carregar pedido médico</div>
            <div class="tab" id="tabExamReqManager" data-tab="divExamReqManager">Gerenciar pedido médico</div>
        </div>

        <div class="content" id="divExamReqLoader">
            <h2 style="display: inline-block;">Carregar pedido médico</h2>
            <br><br>
            &nbsp;&nbsp;
            <input type="file" id="load_exam_req_file" accept="text/plain,application/pdf,image/jpeg,image/png" style="display: none;"></input>
            <button type="submit" name="load_exam_btn" class="btn-load-style">Carregar</button>&nbsp;&nbsp;&nbsp;
            <button type="submit" name="update_exams_btn" class="btn-general-style">Atualizar</button>&nbsp;&nbsp;&nbsp;
            {% if processsing_exams|length > 0 %}
            <h2>Pedidos carregados e em processamento</h2>
            <div id="div_context_steps" class="form-list">
                <table id="step_lst">
                    <thead>
                        <tr>
                            <th>Data hora</th>
                            <th>Pedido</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for exam_date, exam_name  in processsing_exams %}
                        <tr>
                            <td>&nbsp;&nbsp;&nbsp;{{ exam_date }}&nbsp;&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;&nbsp;{{ exam_name }}&nbsp;&nbsp;&nbsp;</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif %}
        </div>
     
        <div class="content" id="divExamReqManager">

        </div>
    </form>

    <div id="loading_message_area" class="form-list" style="white-space: pre-wrap;">

    </div>

    <script src="{{ url_for('static', filename='upload.js') }}"></script>
    <script>
        const form = document.querySelector("form");

        var choosenModel = document.getElementById("choosen_model_name");
        if (choosenModel != null && choosenModel.value != "") {
            console.log("MODEL NAME: " + choosenModel.value);
            const selectElement = document.querySelector("select[name=model_name]");
            for (const option of selectElement.options) {
                if (option.value === choosenModel.value) {
                    option.selected = true;
                    break;
                }
            }
        }

        // selecionar o tab ativo
        const tabs = document.querySelectorAll('.tab');
        // Get all content elements
        const contents = document.querySelectorAll('.content');
        const activeTab = document.getElementById("activeTab");
        // Add click event listener to each tab
        tabs.forEach(tab => {
            tab.addEventListener('click', function () {
                //if (activeTab.value = this.id) return;
                // Remove active class from all tabs
                tabs.forEach(t => t.classList.remove('active'));
                // Add active class to the clicked tab
                this.classList.add('active');
                // Hide all content elements
                contents.forEach(c => c.classList.remove('active'));
                // Show the content element corresponding to the clicked tab
                document.getElementById(this.dataset.tab).classList.add('active');
                activeTab.value = this.id;
            });
        });
        document.getElementById(activeTab.value).click();

        const clicked_button = document.getElementById("clicked_button");

        const load_exam_req_file = document.getElementById("load_exam_req_file");
        load_exam_req_file.addEventListener("change", function () {
            if (this.files.length > 0) {
                console.log(load_exam_req_file.files[0]);
                clicked_button.value = "load_exam_btn";
                ShowLoadingMessage("Carregando o exame \"" + this.files[0].name + "\".  AGUARDE ... ");
                dest_bucket = document.getElementById("dest_bucket").value;
                dest_folder = document.getElementById("dest_folder").value;
                UploadWithSignedUrl(dest_bucket, dest_folder, this.files[0], (error, response) => {
                    if (error)
                        alert(error);
                    fileElem = document.getElementById('load_exam_req_file');
                    if (fileElem != null) {
                        //alert('** REMOVENDO ** fileElem')
                        fileElem.remove();
                    }
                    form.submit();
                });
            }
        });
        
        const loading_message_area = document.getElementById('loading_message_area');
        loading_message_area.style.display = "none";
        function ShowLoadingMessage(message) {
            loading_message_area.textContent = message;
            loading_message_area.style.display = "block";
            form.style.display = "none";
        }

        // Adiciona um ouvinte de evento ao formulário
        form.addEventListener("submit", function (event) {
            // Evita que o formulário seja enviado
            event.preventDefault();
            // Obtém o botão que foi pressionado
            clicked_button.value = event.submitter.name;
            console.log("CLICKED BTN: " + clicked_button.value);
            if (clicked_button.value == "load_exam_btn") {
                load_exam_req_file.click();
                return;
            }
            else if (clicked_button.value == "update_exams_btn") { 
                ShowLoadingMessage("Atualizando os exames em processamento.  AGUARDE ... ");
            }
            this.submit();
        });
    </script>
</body>

</html>