<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
        integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Genereciar Projetos e Contextos</title>
</head>

<body>
    <h1>Gerenciar projetos e arquivos de contexto no GCS</h1>
    <b style="float: right; text-align: right;">{{ user_version_info }}</b>
    <br>
    <form id="load_Form" method="POST" action="/" enctype="multipart/form-data">
        <input type="hidden" name="model_name" value="{{ model_name }}">
        <input type="hidden" id="clicked_button" name="clicked_button" value="">
        <input type="hidden" id="new_prj_name" name="new_prj_name" value="">
        <input type="hidden" id="choosen_project" name="choosen_project" value="{{ project }}">
        <input type="hidden" id="context_to_delete" name="context_to_delete" value="">
        <input type="hidden" id="txt_prompt" name="txt_prompt" value="{{ txt_prompt }}">

        <div id="div_projects" class="form-load">
            {% if projects|length > 0 %}
            <label for="projects_slc">Projeto:</label>
            <select name="projects_slc" id="projects_slc">
                {% for project in projects %}
                <option value="{{ project }}">{{ project }}</option>
                {% endfor %}
            </select>&nbsp;&nbsp;&nbsp;
            {% else %}
            <p id="projects_message" style="font-weight: bold;">
                Nada encontrado. Use os botões abaixo para criar projetos e adicionar contextos.</p>
            {% endif %}
            {% if contexts|length > 0 %}
            <br><br>
            <label for="contexts_lst">Contextos:</label>
            <ul id="contexts_lst">
                {% for context in contexts %}
                <li>
                    {{ context }}
                    &nbsp;&nbsp;&nbsp;<i class="fa fa-trash delete-icon" style="color: red;"></i>
                </li>
                {% endfor %}
            </ul>&nbsp;&nbsp;&nbsp;
            {% else %}
            {% if projects|length > 0 %}
            <p id="context_message" style="font-weight: bold;">
                Nenhum contexto encontrado. Use os botões abaixo para criar projetos e adicionar contextos.</p>
            {% endif %}
            {% endif %}
        </div>
        <br><br>
        <input type="submit" id="create_prj_btn" name="create_prj_btn" value="Criar um projeto"
            class="btn-file">&nbsp;&nbsp;&nbsp;
        {% if projects|length > 0 %}
        <input type="submit" id="upload_context_btn" name="upload_context_btn" value="Carregar um arquivo de contexto"
            class="btn-file">&nbsp;&nbsp;&nbsp;
        {% endif %}
        <input type="submit" id="ctx_return_btn" name="ctx_return_btn" value="Retornar" class="btn-general-style">
        <!-- input type="submit" id="ctx_test_btn" name="ctx_test_btn" value="TESTE" class="btn-general-style"-->
    </form>
    <br><br>
    <p id="load_message" style="color: white; font-weight: bold; display: none;">
        Carregando o arquivo para o projeto . AGUARDE ... </p>

    <script src="{{ url_for('static', filename='upload.js') }}"></script>
    <script>
        const load_Form = document.getElementById("load_Form");
        const clicked_button = document.getElementById("clicked_button");
        const new_prj_name = document.getElementById("new_prj_name");
        const choosen_project = document.getElementById("choosen_project");
        const projects_slc = document.getElementById("projects_slc");
        const contexts_lst = document.getElementById("contexts_lst");

        const load_context_file = document.createElement("input");
        load_context_file.type = "file";
        load_context_file.name = "load_context_file";
        load_context_file.id = "load_context_file";
        load_context_file.accept = "text/plain,application/pdf,image/jpeg,image/png,image/webp,video/mp4,video/mpeg,video/mov,video/avi,video/x-flv,video/mpg,video/webm,video/wmv,video/3gpp";
        load_context_file.style.display = "none";
        load_Form.appendChild(load_context_file);
        load_context_file.addEventListener("change", function () {
            if (this.files.length > 0) {
                console.log(load_context_file.files[0]);
                clicked_button.value = "upload_context_btn";
                ShowLoadingMessage("Carregando o arquivo \"" + this.files[0].name + "\" para o projeto \"" + projects_slc.value + "\".  AGUARDE ... ");
                UploadWithSignedUrl("context", projects_slc.value, this.files[0], (error, response) => {
                    if (error)
                        alert(error);
                    fileElem = document.getElementById('load_context_file');
                    if (fileElem != null) {
                        //alert('** REMOVENDO ** fileElem')
                        fileElem.remove();
                    }
                    load_Form.submit();
                });
            }
        });
        // projects_slc doesn't exist if there are no projects
        if (projects_slc != null) {
            projects_slc.value = choosen_project.value;
            projects_slc.addEventListener("change", function () {
                //console.log("projects_slc");
                if (choosen_project.value == this.value) return;
                choosen_project.value == this.value;
                clicked_button.value = "manage_contexts_btn";
                load_Form.submit();
            });
        }

        load_Form.addEventListener("submit", function (event) {
            event.preventDefault();
            clicked_button.value = event.submitter.name
            if (event.submitter.name == "create_prj_btn") {
                prj_name = prompt("Digite o caminho do novo projeto:");
                if (!prj_name) return;
                prj_name = prj_name.trim();
                if (prj_name == "") {
                    alert("Entre um nome de projeto válido!");
                    return;
                }
                ShowLoadingMessage("Criando o projeto \"" + prj_name + "\".  AGUARDE ... ");
                new_prj_name.value = prj_name;
                load_Form.submit();
            }
            else if (event.submitter.name == "upload_context_btn") {
                load_context_file.click();
            }
            else if (event.submitter.name == "ctx_test_btn") {
                console.log("TESTE");
                TestSignedUrl();
            }
            else {
                load_Form.submit();
            }
        });

        // Deleta o arquivo de contexto buja lata de lixo foi clicada
        if (contexts_lst != null) {
            contexts_lst.addEventListener("click", function (event) {
                if (event.target.classList.contains("delete-icon")) {
                    const contextItem = event.target.parentElement;
                    const contextName = contextItem.textContent.trim();
                    response = confirm("Tem certeza que deseja deletar o contexto \"" + contextName + "\" do projeto \"" + projects_slc.value + "\"?");
                    if (!response) return;
                    ShowLoadingMessage("Deletando o contexto \"" + contextName + "\" do projeto \"" + projects_slc.value + "\".  AGUARDE ... ");
                    clicked_button.value = "delete_context_btn";
                    document.getElementById("context_to_delete").value = contextName;
                    load_Form.submit();
                }
            });
        }

        function ShowLoadingMessage(message) {
            load_message = document.getElementById('load_message');
            load_message.textContent = message;
            load_message.style.display = "block";
            load_Form.style.display = "none";
        }

    </script>
</body>

</html>